body{
    /*font-size: 12px;*/
    /*font-family: Meiryo, "Microsoft YaHei UI";*/
    user-select: none;
}


hr{
    margin: .25em;
}


.wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
}

.left-wrapper{
    display: inline-block;
    width: 70%;
}


.area-content{
    margin: .5rem 0 2rem 0;
}

/* 武器本体部分 */

.panel-weapon{
    margin: 1em;
}

.img-wrapper{
    display: inline-block;
    position: relative;
    background: #1c7430;
    overflow: hidden;
    /*mask-image: url(../img/icon.png)*/
}

.img-weapon-thumb{
    background: url(../img/icon.png);
    background-size: 100px;
    width: 100px;
    height: 100px;
}

.img-wrapper p{
    background: #ffc107;
    font-size: 18px;
    padding-right: 5%;
    margin-bottom: 0;
    left: 0%;
    bottom: 0%;
    position: absolute;
}

.panel-weapon dl{
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    height: 100px;
    position: relative;
}

.panel-weapon .progress-text{
    display: inherit;
}

.panel-weapon dl button{
    position: absolute;
    bottom: 0;
}

.progress-text dt{
    display: inline-block;
}

.panel-weapon .progress{
    margin-bottom: .5em
}

/* 共通部分：武器图标 */
.img-wrapper-small{
    display: inline-block;
    position: relative;
    background: #0069d9;
    overflow: hidden;
    margin-right: 0.5em;
    /*mask-image: url(../img/icon.png)*/
}

.img-weapon-thumb-small{
    background: url(../img/icon.png);
    background-size: 60px;
    width: 60px;
    height: 60px;
}
.img-wrapper-small span{
    display: none;
}

.img-weapon-thumb-small:hover>.oi-circle-x{
    display: inherit;
    position: absolute;
    top: 0;
    right: 0;
}

.img-weapon-thumb-small:hover>.oi-cog{
    display: inherit;
    position: absolute;
    right: 0;
    top: 75%;
}

.img-wrapper-small p{
    background: #ffc107;
    font-size: 14px;
    padding-right: 5%;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

/* 强化素材队列部分 */

.left-wrapper ul{
    padding-left: 1rem;
    list-style: none;
    width: 100%;
}

.area-queue{
    margin-bottom: 1rem;
}
/* 用于排版素材数据 */
@media screen and (min-width:601px){
.area-queue li:last-child{
    margin-right: 0;
    width: 32%;
}
}

.area-queue li{
    display: inline-block;
    width: 27%;
    margin-right: 5%;
}

.container-queue{
    margin-right: 1rem;
    border-radius: 5px;
    display: inline-flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: .5rem .5rem .5rem 1rem;
    position: relative;
}

.container-queue:hover{
    background: #c3e2ffcc;
}

.container-queue span {
    display: none;
}

.container-queue:hover>span{
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.panel-queue{
    position: relative;
}

#add-material-space{
    /*margin: 0 auto;*/
    /*margin-bottom: .5em;*/
    width: 90%;
    background: #ffffffe0;
    border: #0069d9 .1em;
    border-radius: 5px;
    display: none;
    position: absolute;
    left: 5%;
    bottom: -4rem;
    border-style: solid;
    height: 4rem;
}
#add-material-space > * {
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px dashed #060;
    position: absolute;
    text-align: center;
}

/* 素材列表部分 */

.right-wrapper{
    float: right;
    width: 30%;
}

.area-material{
    margin: .5rem 0 2rem 0;
}

.container-list{
    display: inline-block;
}

.container-list img{
    margin-top: 1em;
    margin-right: 1em;
}

/* 弹出工具框部分 */
.popup-ul{
    list-style-type: none;
    padding-left: 0;
}

.modal-wrapper dl{
    margin-bottom: 0;
}

.modal-wrapper dt{
    display: inline-block;
}

.modal-wrapper dd{
    float: right;
    margin-bottom: 0;
}

.element-edit {
    margin-bottom: .5em;
}

.element-edit.btn-group{
    display: flex;
}

/* 小屏专用 */
@media screen and (max-width:600px){
    .left-wrapper{
        width: 100%;
    }

    .right-wrapper{
        float: none;
        width: 100%;
    }

    .container-queue{
        margin: 0;
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: center;
    }

    .area-queue li{
        display: inherit;
        width: 95%;
    }

    .area-cost li{
        width: 95%;
    }

    .element-edit.btn-group{
        display: inherit;
    }
}