html{
    font-size: 14px;
}

body{
    font-family: Meiryo;
    /*font-family: "MS PGothic", "Osaka";*/
    user-select: none;
}

hr{
    margin: .25em;
}


.wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
}

.left-wrapper{
    display: inline-block;
    width: 70%;
}


.area-content{
    margin: .5rem 0 2rem 0;
}

/* 武器本体部分 */

.panel-weapon{
    margin: 1em;
}

.panel-weapon .base-text-baseexp{
    display: inline-block;
}

.panel-weapon dl dd{
    display: inline-block;
}

.img-wrapper{
    display: inline-block;
    position: relative;
    background: #1c7430;
    overflow: hidden;
    /*mask-image: url(../img/icon.png)*/
}

.img-weapon-thumb{
    background: url(../img/icon.png);
    background-size: 100px;
    width: 100px;
    height: 100px;
}

.img-wrapper p{
    background: #ffc107;
    font-size: 1.25rem;
    padding-right: 5%;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.panel-weapon dl{
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
    height: 100px;
    position: relative;
}

.panel-weapon .progress-text{
    display: inherit;
}

.panel-weapon dl button{
    position: absolute;
    bottom: 0;
}

.progress-text dt{
    display: inline-block;
}

.panel-weapon .progress{
    margin-bottom: .5em
}

/* 共通部分：武器图标 */
.img-wrapper-small{
    display: inline-block;
    /*background: #0069d9;*/
    /*overflow: hidden;*/
    margin-right: 0.5em;
    /*mask-image: url(../img/icon.png)*/
}

.img-weapon-thumb-small{
    background: #0069d9 url(../img/icon.png);
    background-size: 60px;
    position: relative;
    width: 60px;
    height: 60px;
}
.img-wrapper-small span{
    display: none;
}

.img-wrapper-small .weapon-thumb-name{
    margin: 0;
    text-align: center;
    font-size: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.img-weapon-thumb-small:hover>.oi-circle-x{
    display: inherit;
    position: absolute;
    top: 0;
    right: 0;
}

.img-weapon-thumb-small:hover>.oi-cog{
    display: inherit;
    position: absolute;
    right: 0;
    top: 75%;
}

.img-weapon-thumb-small p{
    background: #ffc107;
    font-size: 0.75rem;
    padding-right: 5%;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

/* 强化素材队列部分 */

.left-wrapper ul{
    padding-left: 1rem;
    list-style: none;
    width: 100%;
}

.area-queue{
    margin-bottom: 1rem;
}
/* 用于排版素材数据 */
@media screen and (min-width:601px){
.queue-material-info span:last-child{
    margin-right: 0;
}
}

.queue-material-info li{
    display: inline-block;
    width: 24%;
}

.queue-material-info span{
    margin-right: 5%;
}

.container-queue{
    margin-right: 1rem;
    border-radius: 5px;
    display: inline-flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: .5rem .5rem .5rem 1rem;
    position: relative;
}

.container-queue:hover{
    background: #c3e2ffcc;
}

.container-queue span {
    display: none;
}

.container-queue:hover>span{
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.panel-queue{
    position: relative;
}

#add-material-space{
    width: 30%;
    background: #ffffffe0;
    border-radius: 5px;
    display: none;
    position: absolute;
    right: 5%;
    bottom: -5rem;
    height: 5rem;
    border: 1px solid #BFBFBF;
}
.dup-space{
    width: 30%;
    background: #ffffffe0;
    border-radius: 5px;
    display: none;
    position: absolute;
    left: 5%;
    bottom: -5rem;
    height: 5rem;
    border: 1px solid #BFBFBF;
}
#add-material-space > *, .dup-space > *{
    top: 1%;
    left: 1%;
    right: 1%;
    bottom: 1%;
    position: absolute;
    text-align: center;
}

/* 素材列表部分 */

.right-wrapper{
    float: right;
    width: 30%;
}

.area-material{
    margin: .5rem 0 2rem 0;
}

.container-list{
    display: inline-block;
}

.container-list img{
    margin-top: 1em;
    margin-right: 1em;
}

/* 弹出工具框部分 */
.popup-ul{
    list-style-type: none;
    padding-left: 0;
}

.modal-wrapper dl{
    margin-bottom: 0;
}

.modal-wrapper dt{
    display: inline-block;
}

.modal-wrapper dd{
    float: right;
    margin-bottom: 0;
}

.element-edit {
    margin-bottom: .5em;
}

.element-edit.btn-group{
    display: flex;
}

#modal-wrapper-material-extra{
    display: none;
}

.modal-wrapper .label-for-btn{
    margin: 0;
}

/* 小屏专用 */
@media screen and (max-width:600px){
    .left-wrapper{
        width: 100%;
    }

    .right-wrapper{
        float: none;
        width: 100%;
    }

    .container-queue{
        margin: 0;
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: center;
    }

    .queue-material-info li{
        display: inline-block;
        width: 80%;
    }

    .area-cost li{
        width: 95%;
    }

    .element-edit.btn-group{
        display: inherit;
    }
}