<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="">
<title>NT Weapon Grind Simulator</title>
<link rel="stylesheet" href="css/bootstrap.min.css" charset="utf-8" />
<link rel="stylesheet" href="css/main.css" charset="utf-8" />
<!--<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script> -->
<!--<script src="https://unpkg.com/vue"></script>-->
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js" charset="utf-8"></script>
</head>
<body>
<div class="wrapper">
<nav class="navbar navbar-light bg-light">
	<span class="navbar-brand mb-0 h1">NT Weapon Grind Simulator</span>
	<ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#"> Save </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#settingsModal" href="#"> Settings </a>
        </li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="modal" data-target="#helpModal" href="#"> Help </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="modal" data-target="#aboutModal" href="#"> About </a>
		</li>
	</ul>
</nav>

<div class="left-wrapper">
<div class="area-content area-base">
	<span class="h4 text-muted ml-2">Base Weapon</span>
	<hr/>
	<div class="panel-weapon" id="panel-weapon">
		<div class="img-wrapper">
		<img src="http://temp.im/100x100" />
		<p> {{rule().name}} </p>
		</div>
		<dl>
			<dt class="">{{name}}</dt>
			<dt class="">Rarity: {{rule().name}}</dt>
			<dt class="">Grind: {{grind}}</dt>
            <dt><button type="button" class="btn btn-primary btn-sm" id="btn-edit-base" data-toggle="modal" data-target="#editModal">Edit Base Detail</button></dt>
		</dl>
		<div class="progress-text clearfix">
			<span class="h5 ml-2">To next level</span>
			<span class="text-muted mr-2 float-right">200 / 500</span>
		</div>
		<div class="progress" style="height: .5em">
			<div class="progress-bar bg-success" role="progressbar" style="width: 40%"></div>
		</div>
		<div class="progress-text clearfix">
			<span class="h5 ml-2">Total EXP</span>
			<span class="text-muted mr-2 float-right">{{ baseExp }} / {{expTable()[36]}}</span>
		</div>
		<div class="progress" style="height: .5em">
			<div class="progress-bar progress-bar-animated bg-info" role="progressbar" v-bind:style="{width: baseExp/expTable()[36]*100 + '%'}"></div>
		</div>
	</div>
</div>

<div class="area-content area-queue">
	<span class="h4 text-muted ml-2">Material Queue</span>
	<hr/>
	<ul class="clearfix">
		<li>Material EXP: <span class="float-right">6500</span></li>
		<li>Material Count: <span class="float-right">8</span></li>
		<li>Grind Count: <span class="float-right">2</span></li>
	</ul>
	<div class="panel-queue">
		<div class="container-fluid container-queue" style="height: 8rem">
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
		</div>
		<div class="container-fluid container-queue" style="height: 8rem">
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
		</div>
	</div>
</div>
	<div class="area-content area-cost">
		<span class="h4 text-muted ml-2">Item Cost</span>
		<hr/>
		<ul class="clearfix">
			<li>Meseta Cost: <span class="float-right">1,960,080</span></li>
			<li>Grinder Cost: <span class="float-right">220</span></li>
			<li>Lambda Grinder Cost: <span class="float-right">20</span></li>
			<li>Grind Great-Success (100%): <span class="float-right">3</span></li>
			<li>Empire Rappy: <span class="float-right">2</span></li>
			<li>NT Weapon Boost: <span class="float-right">3</span></li>
		</ul>
	</div>

</div>

<div class="right-wrapper">
	<div class="area-content area-material">
	<span class="h4 text-muted ml-2">Material List</span>
	<hr/>
	<div class="container-fluid container-list" style="width: 100%">
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
			<img src="http://temp.im/60x80" />
		</div>
	</div>
</div>
<div class="modal-wrapper">
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">About</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl>
                        <dt>Simulator Version</dt><dd>0.1.0</dd>
                    </dl>
                    <dl>
                        <dt>Calculator Version</dt><dd>Under development</dd>
                    </dl>
                    <dl>
                        <dt>Developer</dt><dd>DiruSec</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" >Edit Parameters</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="element-edit input-group">
						<span class="input-group-addon">Weapon Name</span>
						<input type="text" class="form-control" id="modal-input-name" v-model="name">
					</div>
					<div class="element-edit input-group">
						<span class="input-group-addon">Description</span>
						<input type="text" class="form-control" id="modal-input-desc" v-model="desc">
					</div>
					<div class="element-edit btn-group" data-toggle="buttons" id="modal-input-rarity">
						<label class="btn btn-success">
							<input type="radio" name="options" value="r123"> ★1-3
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="options" value="r456"> ★4-6
						</label>
						<label class="btn btn-danger">
							<input type="radio" name="options" value="r789"> ★7-9
						</label>
						<label class="btn btn-warning">
							<input type="radio" name="options" value="r10"> ★10
						</label>
						<label class="btn btn-warning">
							<input type="radio" name="options" value="r11"> ★11
						</label>
						<label class="btn btn-warning">
							<input type="radio" name="options" value="r12"> ★12
						</label>
						<label class="btn btn-info">
							<input type="radio" name="options" value="r13"> ★13
						</label>
						<label class="btn btn-info">
							<input type="radio" name="options" value="r14"> ★14
						</label>
					</div>
					<div class="element-edit input-group">
						<span class="input-group-addon">Grind Level</span>
						<input type="text" class="form-control" id="modal-input-grind" v-model="grind">
					</div>
					<div class="element-edit input-group">
						<span class="input-group-addon">Next Level</span>
						<input type="text" class="form-control" id="modal-input-next" v-model="nextLv">
					</div>
					<div class="element-edit input-group">
						<span class="input-group-addon">Base Exp</span>
						<input type="text" class="form-control" id="modal-input-total" v-model="baseExp">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-edit-save">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>
